@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");

* {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
}

.logo {
    width: 80px;
    height: auto;
}

.logoMate {
    width: 20px;
    height: auto;
    position: relative;
    bottom: 5px;
    right: 1px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    height: 100px;
    width: 100vw;

    background-color: bisque;

    p {
        color: black;
        text-align: center;
        align-items: center;

        margin: 0px;
        padding: 0px;
    }

    .pLogo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 30px;

        p {
            font-size: 30px;
            position: relative;
            left: 10px;
            // letter-spacing: 2px;
        }
    }

    .navBar__li {
        ul {
            margin: 0;
            padding: 0px 20px;
        }
        li {
            color: black;
            display: inline-block;
            list-style: none;
            padding: 0px 10px;
        }
    }
}
