.card-img-top {
    width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}
.texto22px {
    font-size: 22px;
}

.texto20px {
    font-size: 20px;
}

.texto18px {
    font-size: 18px;
}
.texto16px {
    font-size: 18px;
}
